<div class="content">
<% if current_user.role == 'admin' && current_user.isActive %>
  <h1>Update Semester Info</h1>

  <%= form_with model: @semester, local: true, url: update_semester_path(@semester.id), method: :patch do |form| %>
    <%= form.label :code %>
    <%= form.text_field :code %>

    <%= form.label :description %>
    <%= form.text_field :description %>

    <%= form.submit "Update Semester"%>
  <% end %>

<% else %>
  <h1>Access Denied.</h1>
<% end %>
</div>