<div class="content">
  <% if current_user.role == 'instructor' && current_user.isActive %>
  <h1>Evaluations</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Student ID</th>
      <th>Email</th>
      <th>Section</th>
      <th>Message</th>
    </tr>
    <% @evaluations.each do |evaluation| %>
    <% user = User.find(Student.find(evaluation.student_id).user_id)%>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= evaluation.section %></td>
      <td><%= evaluation.message %></td>
      <td><%= link_to 'Show', evaluation_path(subject: params[:subject], id: evaluation.id), method: :get %></td>
      <td><%= link_to 'Edit', edit_evaluation_path(subject: params[:subject], id: evaluation.id) %></td>
      <td><%= link_to 'Delete', evaluation_path(subject: params[:subject], id: evaluation.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <%end%>
  </table>

  <%= link_to 'New Evaluation', new_evaluation_path(subject: params[:subject]) %>


  <% else %>
    <h1>Access Denied.</h1>
  <% end %>

</div>