<h1>CSE Courses (Spring 2022)</h1>

<table border="1">
  <tr>
    <td>Course_ID </td>
    <td>Class_Number</td>
    <td>(autoenrolls)</td>
    <td>Meeting Information</td>
    <td>Enrld/Limit/Wait</td>
    <td>Instructor</td>
  </tr>
  <% @subjects.each do |subject| %>
    <tr>
      <td>CSE-<%= subject.course_id %> </td>
      <td><%= subject.subject_id %></td>
      <td><%= subject.autoenrolls %></td>
      <td> <pre><%= @date_times[subject.subject_id] %></pre>  </td>
      <td><%= subject.elw %></td>
      <td><%= subject.teacher %></td>
    </tr>
  <% end %>
</table>