<header class="navbar navbar-sticky-top navbar-light">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left navbar-text">
        <% if user_signed_in? %>
          <li>Welcome <%= current_user.name%>!</li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if user_signed_in? %>
          <% if current_user.role == "admin" && current_user.isActive %>
            <li><%= link_to 'Manage Users', users_path %></li>
            <li><%= link_to 'Manage Application', admin_application_path %></li>
            <li><%= link_to 'Manage Semesters', semesters_path %></li>
            <li><%= link_to "Scraper", scraper_path %></li>
          <% end %>
          <% if current_user.role == "student" %>
            <li><%= link_to 'Application', show_application_path %></li>
          <% end %>
          <li><%= link_to "Add courses", planner_path %></li>
          <li><%= link_to 'Sections', courses_path %></li>
          <li><%= link_to 'Profile', edit_user_registration_path %></li>
          <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Log In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>